# dclint disable require-project-name-field

services:
  borgmatic:
    image: b3vis/borgmatic:2.0.11
    volumes:
      - postgres-data:/data/database
      - ssh:/root/.ssh/
    configs:
      - source: borgmatic-config-jopiter
        target: /etc/borgmatic.d/config.yaml
    environment:
      - BORG_PASSPHRASE
      - BACKUP_CRON=0 1 * * * # Remove when https://github.com/borgmatic-collective/docker-borgmatic/issues/375 is fixed

  jopiter:
    image: jopiterapp/jopiter-backend:2.4.6
    depends_on:
      - postgres
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/jopiter
    networks:
      - default
      - caddy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:5000/health" ]
    labels:
      caddy: persephone.jopiter.app
      caddy.reverse_proxy: "{{upstreams 5000}}"

  postgres:
    image: postgres:17
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: "password"
      POSTGRES_USER: "jopiter"
      POSTGRES_DB: "jopiter"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U jopiter" ]

networks:
  default:
  caddy:
    external: true

volumes:
  postgres-data:
  ssh:
    external: true

configs:
  borgmatic-config-jopiter:
    external: true
