services:

  miniserve:
    image: svenstaro/miniserve
    command: "/data"
    volumes:
      - /hdd/torrents:/data
    networks:
      - caddy
    environment:
      MINISERVE_ENABLE_TAR: "true"
      MINISERVE_ENABLE_TAR_GZ: "true"
      MINISERVE_HIDE_THEME_SELECTOR: "true"
      MINISERVE_HIDE_VERSION_FOOTER: "true"
    labels:
      caddy: webdl.colman.com.br
      caddy.reverse_proxy: "{{upstreams 8080}}"
      
      

  opentracker:
    image: lednerb/opentracker-docker:latest@sha256:a055447e44450036b7b2a923618b12d4ecf1eff3c894e969cc2c42f466b2c6f6
    environment:
      - PUID=1000
      - PGID=1000
    ports:
      - "0.0.0.0:6969:6969/udp"
      - "0.0.0.0:6969:6969/tcp"
    networks:
      - caddy
    healthcheck:
      test: ["CMD", "wget", "--spider", "http://0.0.0.0:6969"]

networks:
  caddy:
    external: true
